<% if can? :view, Role %>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <%= render "generic/bootstrap_icon", icon: "gear" %>
        Settings
      </div>

      <div class="card-body">
        <% if can? :view, Role %>
          <%= link_to "Roles", admin_roles_path(Switch.current_account), class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
