<h1>Welcome to this sweet Ecom Site</h1>

<p>
  You have been added to Account: <strong><%= @user.role.account.name %></strong>.
</p>

<p>
  Complete sign up at the following link:
  <%= link_to 'Sign Up', admin_sign_up_index_url({ token: @user.authentication_password_reset_token }) %>.
  <br />(This link will be valid for 1 week, if expired please complete the password recovery steps)
</p>
