<h1>Welcome to this sweet Ecom Site</h1>

<p>
  You have been added to Account: <%= @user.role.account.name %>.
</p>

<p>
  Complete sign up at the following link:
  <%= link_to 'Sign Up', admin_user_sign_up_url({ token: @user.authentication_password_reset_token }) %>.
  (This link will be valid for 1 week, if expired please complete the password recovery steps)
</p>

<p>Thanks for joining and have a great day!</p>
