<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <%= link_to "Roles", admin_roles_path(Switch.current_account) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= role.name %>
    </li>
  </ol>
</nav>

<%= form_for role, url: admin_role_path(Switch.current_account, role.id) do |f| %>
  <%= render "form", f: f, type: "Update" %>
<% end %>
