<%= form_for role, url: admin_roles_path(Switch.current_account) do |f| %>
  <div class="card">
    <div class="card-header hstack">
      <span class="me-auto">
        Role
      </span>
    </div>

    <div class="card-body">
      <%= render "form", f: f %>
    </div>

    <div class="card-footer">
      <%= f.submit "Create", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
