<% if can?(:view, Currency) %>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="product_management_nav" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= render "generic/bootstrap_icon", icon: "tags" %>
        Settings
      </a>

      <ul class="dropdown-menu">
        <% if can? :view, Currency %>
          <li>
            <%= link_to "Currencies", admin_currencies_path(Switch.current_account), class: "dropdown-item" %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
<% end %>